body {
  background-image: url("../media/dark-water.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: auto;
  height: 100%;
  width: 100%;
}
h1, h2, a {
  color: white;
}
a {
  color: white;
}
div {
}
.scoreboard {
  border-style: solid;
  margin-right:80vw;
  text-align: center;
  height: 9vw;
  vertical-align: middle;
}
.player {
  position: absolute;
  top: 50%;
  bottom: 50%
}
.school {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sharks {
  position: absolute;
  color: white;
  background-image: url("../media/shark3.png");
  background-size: 90px 110px;
  background-repeat: no-repeat;
  padding: 60px;
  color: white;
  position: relative;
  margin-left: -40vw;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-name: slidein;
}
  @keyframes slidein {
    from {
      margin-left: 85vw;
    }
    to {
      margin-left: -40vw;
    }
}
