body {
  background-image: url("../dark-water.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: auto;
}
h1 {
  color: white;
}
div {
}
.player {
  position: fixed;
  top: 50%;
  bottom: 50%
}
.school {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sharks {
  color: blue;
  background-image: url("../shark3.png");
  background-size: 100px 120px;
  background-repeat: no-repeat;
  padding: 50px;
  color: white;
  margin-left: 90%;
}
